body{
font-family:Arial;
background:#e3f2fd;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.chat-container{
background:#fff8dc;
padding:15px;
border-radius:12px;
width:350px;
box-shadow:0 0 10px gray;
border:4px solid black;
}

.header h2{
font: size 20px;;    
display:flex;
align-items:center;
gap:10px;
}

.logo{
width:40px;
height:40px;
border-radius:50%;
}

#chatbox{
height:250px;
overflow-y:auto;
border:1px solid #ccc;
margin:10px 0;
padding:5px;
}

.user{color:blue;}
.bot{color:green;}

.input-area{
display:flex;
gap:5px;
}